<h1>We make fresh and delicious desserts, everyday.</h1>
<%= image_tag("choco-cookies.jpg", class: "img-responsive")%>
<h2>Yes, we also have vegan/vegetarian desserts, in many flavours, all made with love</h2>
