<h1>Welcome to Cookies</h1>
<h2>We do make the best cookies of Berlin.</h2>

<p>Welcome! The date and time is <%= Time.now %> 
	<% test_variable = 42 %> <%= test_variable %> <%= test_variable - 2 %> </p>
