ul {
	font-family: helvetica;
	font-size: 20px;
	color: #9c070f;
	float: left;
	padding-left: 10px;
}

li {
	padding: 20px;
}

nav {
	display: fixed;
	position: block;
}

h1 h2 {
	display: inline-block;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	text-align: left;
}


// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
